/*

  Main entry point for the Glimpse theme

*/

html {
  min-height: 100%;
  min-height: -webkit-fill-available;
}

body {
  color: #000012;
}

@import "./branding.scss";
@import "./fonts/manrope.scss";

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  color: $blue2;
  &:hover {
    color: $blue1;
  }
}

// Components
@import "./partials/nav.scss";
@import "./partials/footer.scss";
@import "./partials/pagination.scss";
